:root {
  --white-player-color: rgb(235, 235, 208);
  --black-player-color: rgb(119, 149, 86);
  --sidebar-header-height: 50px;
  --primary-ui-color: rgb(244, 170, 61);
  --secondary-ui-color: rgb(150, 106, 50);
  --white-ui-color: white;
  --background-ui-color: rgb(81, 80, 77);
  --button-height-3d: 7px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-ui-color);
  user-select: none;
}

#container {
  height: 100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#game {
  padding: 50px;
  display: inline-block;
  vertical-align: middle;
}

/* Board Styles */
.square {
  width: min(90px, 12vw, 12vh);
  height: min(90px, 12vw, 12vh);
  background-color: var(--white-player-color);
  position: relative;
  border: none;
}

.row:nth-child(odd) .square:nth-child(even), .row:nth-child(even) .square:nth-child(odd) {
  background-color: var(--black-player-color);    
 }

 /* Label Styles */
.col-label, .row-label {
  font-size: large;
  font-weight: 900;
  display: inline;
  position: absolute;
  padding: 8px;
  color: var(--white-player-color);
  opacity: 0;
}

.row-label {
  top: 0px;
  left: 0px
 }

 .col-label {
  bottom: 0px;
  right: 0px
 }

 .row:nth-child(8) .square:nth-child(even) .col-label, .row:nth-child(odd) .square:nth-child(1) .row-label {
  opacity: 1;
  color: var(--black-player-color);
 }

 .row:nth-child(8) .square:nth-child(odd) .col-label, .row:nth-child(even) .square:nth-child(1) .row-label {
  opacity: 1;
  color: var(--white-player-color);
 }

/* Prompt Styles */

#prompt {
  /* text properties */
  color: white;
  text-shadow: 1px 1px 20px black;

  /* centering on board */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 100px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  pointer-events: none;
}

.showing {
  opacity: 1;
  transition: opacity 0s;
}

.hiding {
  opacity: 0;
  transition: opacity .5s;
}

#game {
  position: relative;
  display: inline-block;
}

/* Sidebar Styles */
.sidebar {
  display: inline-block;
  height: 95%;
  background-color: white;
  width: calc(95vw - 9 * min(90px, 12vw, 12vh));
  vertical-align: middle;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 1%;
  margin-left: 1%;
  position: relative;
  box-shadow: 3px 4px 31px -5px rgba(0, 0, 0, 0.69);
}

@media screen and (max-width: 1200px) {

  #container {
    width: 90%;
  }

  .square {
    width: calc(min(12.5vw, 12.5vh) * .9);
    height: calc(min(12.5vw, 12.5vh) * .9)
  }

  .sidebar {
    width: 100%;
    /* height: calc(auto); */
    min-height: 300px;
  }

  #board {
    box-shadow: 3px 4px 31px -5px rgba(0, 0, 0, 0.69)
  }

  #game-container {
    display: block !important;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }

  #game {
    padding: 0px;

    margin-left: auto;
    margin-right: auto;
  }
}

#game-container {
  display: inline-block;
}

#sidebar-header {
  color: var(--white-ui-color);
  width: 100%;
  padding: 20px 0px;
  background-color: var(--primary-ui-color);
  text-align: center;
  display: block;
  margin: 0px;
  font-size: x-large;
  font-weight: 900;
  height: var(--sidebar-header-height);
  line-height: var(--sidebar-header-height);
  text-align: center;
  box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.64);
}

#timer, #task-description {
  width: 100%;
  font-size: 50px;
  padding: 15px 0px;
  text-align: center;
}

#task-description {
  font-size: 30px;
}

#streak {
  min-height: 60px;
}

#streak li {
  display: inline-block;
  margin: 20px 10px;
  font-weight: bold;
  position: relative;
}

#controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(235, 235, 235);
  box-shadow: 0 11px 30px -5px black;
}

#sidebar-content {
  height: calc(100% - 330px);
  overflow-y: scroll;
}

/* expand sidebar content when controls are hidden (while playing)*/
#sidebar-content[data-controls-hidden = "true"]  {
  height: 100%;
}

#controls-inner-container {
  width: 90%;
  margin: 20px auto;
}

li.correct {
  color: green;
}

li.correct:before {
  content: "✅";
  position: absolute;
  top: -20px;
}

li.incorrect {
  color: red;
}

li.incorrect:before {
  content: "❌";
  position: absolute;
  bottom: 20px;
}


.slider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -webkit-appearance: none;
  height: 12px;
  background-color: var(--secondary-ui-color);
  transition: background-color .2s;
  border-radius: 100px;
  margin: 20px 0px;
}

.slider:hover {
  background-color: var(--primary-ui-color); /* Fully shown on mouse-over */
}

button {
  cursor: pointer;
}

button#start, div#button-background-3d {
  display: block;
  width: 100%;
  border-radius: 7px;
}

button#start {
  background-color: var(--primary-ui-color);
  padding: 15px;
  border: 3px solid rgba(0, 0, 0, .1);
  font-weight: 900;
  color: var(--white-ui-color);
  font-size: x-large;
  transform: translateY(calc(-1 * var(--button-height-3d)));
}

div#button-background-3d {
  background-color: var(--secondary-ui-color);
  transform: translateY(var(--button-height-3d));
  margin: 20px auto;
}

button#start:active {
  transform: translateY(0px)
}

button#start:hover {
  background-color: rgb(242, 166, 51);
}

[data-display-none = "true"] {
  display: none !important;
}

[data-grade = "correct"] {
  background-color: greenyellow !important;
}

[data-grade = "incorrect"] {
  background-color: red !important;
}

[data-grade = "missed"] {
  background-color: lightblue !important;
}
